import(urca)
import(MASS)
import(methods)


export(optimlag,Kasa.ComT,GG.ComT,plotComT,p.Johansen,q.Johansen)

exportClasses("ComT","optimlag")

S3method(print, ComT)
S3method(print, optimlag)